@model IEnumerable<(string, Lucas_Gaspard_projet_mvc.Data.Model.ApplicationUser)>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item2.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.Type)
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Item2.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Item2.Email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Item2.UserName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Item2.Type)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Item1)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Item2.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
